{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<style>
  label{
    display: inline-block;
    margin-right: 100px;
  }
</style>
<script>
  function checkCredentials()
  {
    let password = document.forms["profileForm"]["password"].value;

    const pass_len = password.length;

     if (pass_len < 10) {
         document.getElementById("error").innerHTML="Password must be longer than 10 characters";
        return false;
     }

     let upperCase = false;
     let lowerCase = false;
     let digit = false;
     let specialChar = false;

     for (let i = 0; i < pass_len; i++) {
        const char = password.charAt(i);

        if (!upperCase && char === char.toUpperCase()) {
          upperCase = true;
        }

        if (!lowerCase && char === char.toLowerCase()) {
          lowerCase = true;
        }

        if (!digit && !isNaN(char)) {
          digit = true;
        }

        if (!specialChar && ['+', '!', '*', '-'].includes(char)) {
          specialChar = true;
        }

        if (upperCase && lowerCase && digit && specialChar) {
          return true;
        }
    }
     document.getElementById("error").innerHTML="Password isn't suitable for credentials";
    return false;
  }
</script>
  <form name="profileForm" method="GET" action="/applyChanges" onsubmit="return checkCredentials()">
    <label>Username</label>
    <input style="position:absolute; left: 175px;margin-bottom: 15px " type="text" name="username" value="{{ username }}" disabled/>
    <br/>
    <label>Password</label>
    <input style="position:absolute; left: 175px ;margin-bottom: 15px " type="text" name="password" value="{{ password }}" required/>
    <br/>
    <label>Full Name</label>
    <input style="position:absolute; left: 175px ;margin-bottom: 15px" type="text" name="fullname" value="{{ fullname }}" required/>
    <br/>
    <label>Email</label>
    <input style="position:absolute; left: 175px ;margin-bottom: 15px" type="text" name="email" value="{{ email }}" required/>
    <br/>
    <label>Telephone Number</label>
    <input style="position:absolute; left: 175px;margin-bottom: 30px " type="text" name="telNo" value="{{ telNo }}" required/>
    <br/><br/>
    <input type="submit" value="Edit"/>
    <p id="error"></p>
  </form>
{% endblock %}